header{
    width: 100%;
    height: 100px;
    color: white;
    align-items: center;
    text-align: center;
    text-shadow: 10px 10px 20px black;
    margin: 16px auto;
    margin-bottom: 100px;
    max-width: 1200px;
}

body{
    background-color: #111111;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Avenir';
    padding-bottom: 3%;
}

.hide{
    display: none;
}

#covidlink{
    color: white;
    border-radius: 50px;
    background-color: #12374F;
    box-shadow: 5px 5px 8px black;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

#covidtitle {
    color: white;
    font-size: 65px;
    text-shadow: 10px 10px 4px black;
    padding-bottom: 30px;
}

.chart{
    min-height: 550px;
    padding-top: 80px;
    padding-bottom: 40px;
    width: 90%;
    height: 70vh;
}

.trackerbackground{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)) ,url('../img/mask.jpg');
    width: 100%;
    box-shadow: 8px 8px 10px black;
    border-radius: 20px;
    background-size: cover;
    display: grid;
    grid-template-columns: auto auto;

}

.trackerbackgroundtwo{
    width: 65%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    color: white;
    margin: 0 auto;
    padding-left: 60px;
}

.country{
    height: 100px;
    margin-bottom:50px;
}

.totalcases{
    height: 100px;
    margin-bottom:50px;
}

.deathcases{
    height: 100px;
    margin-bottom:50px;
}

.countryname{
    font-weight: bold;
    font-size: 50px;
    color: white;
}

.changecountry{
    cursor: pointer;
    text-decoration: underline;
}

.caption{
    font-size: 1.5em;
}

.updatedcasestwo .updatedcasesone{
    font-size: 1.2em;
}

.totalcases .cases{
    font-weight: bold;
    font-size: 2em;
    color: #03d3fc;
}

.deathcases .cases{
    font-size: 2em;
    font-weight: bold;
    color: #ed0047;
}

.searchbox{
    z-index: 1;
    position: absolute;
    justify-content: space-between;
    background-color: black;
    display: flex;
    width: 200px;
    height: 30px;
}

.searchbox img{
    width: 20px;
    padding-right: 5px;
    cursor: pointer;
}

.searchcountry{
    position: relative;
    top: 10px;
}

.searchbox input{
    border: none;
    background-color: transparent;
    padding-left: 15px;
    color: white;
    font-size: 1.1em;
    width: 360px;
    height: 25px;
}

.listofcountries{
    display: flex;
    position: absolute;
    top: 30px;
    background-color: black;
    opacity: 0.8;
    width: 200px;
    height: 300px;
    overflow-y: scroll;
    cursor: pointer;
}

.listofcountries ul{
    width: 100%;
    cursor: pointer;
}

.listofcountries ul li:hover{
    border-left: 2px solid #03d3fc;
    cursor: pointer;
}

.listofcountries ul li{
    list-style: none;
    cursor: pointer;
    padding: 10px;
    color: white;
}

.listofcountries::-webkit-scrollbar-thumb {
background: #03d3fc;
}

.listofcountries::-webkit-scrollbar-thumb:hover {
background: #03d3fc;
}

.listofcountries::-webkit-scrollbar-track {
    background: black;
    }

.listofcountries::-webkit-scrollbar {
    width: 5px;
}

.container{
    margin: 30px auto;
    text-align: center;
    width: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    border-color: #12374F;
    border-style: dotted;
}

.submitbutton{
    color: black;
    margin-top: 20px;
    text-align: center;
}

#containernames{
    padding-bottom: 20px;
}

#namesid, #emailsid{
    color: white;
}

.subscribe{
    color: white;
    margin-top: 50px;
    text-align: center;
    font-size: 35px;
    text-shadow: 10px 10px 20px black;
}

@media screen and (max-width: 600px){
    .trackerbackgroundtwo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
